body {
    font-family: sans-serif;
    color: #17260e;
}

.textboxMeal {
 	width: 75%;
	height: 20px;
	margin: 20px;
    background-color: white;
    padding: 1%;
    box-shadow: 10px 10px 8px #9cad93;
}

textarea {
	width: 320px;
	height: 250px;
}

#meals {
	display: none;
}

body {
	background-color: #e2fcd4;
}

#meal_box {
    margin-left: 15%;

}

button {
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 2% 4%;
    font-size: 1.5em;
    font-weight: bolder;
    color: #000000;
    opacity: 0.7;
}

header {
    margin: 3%;
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 8px #9cad93;
}

#2 {
    margin-bottom: 50px;
}
